<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <%= link_to '商家信息', customer_service_business_path(@business), class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to '行程', customer_service_business_itinerary_index_path(@business), class: 'nav-link active'%>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#information" role="tab" data-toggle="tab">资讯</a>
  </li>
</ul>
<%= link_to '返回', customer_service_business_itinerary_index_path(@business) %>
<%= link_to "查看", public_path(@business, @itinerary), target: "_blank" %>
<%= form_tag customer_service_business_itinerary_path(@business, @itinerary), method: :put do %>
  <input name='name' value="<%= @itinerary.name%>" />
  <%= submit_tag '更新' %>
<% end %>
<hr/>
<div style="border:solid 1px red;">
  <%= form_tag '/customer_service/business/'+@business.id+'/itinerary/'+@itinerary.id+'/daily_plan', multipart: true do %>
    <%= label_tag '日期' %>:
    <%= text_field_tag :dates %><br/>

    <%= label_tag '地点' %>:
    <%= text_field_tag :places %><br/>

    <%= label_tag '图片' %>
    <%= file_field_tag :picture%><br/>

    <%= label_tag '行程描述' %>:
    <%= text_field_tag :description %><br/>

    <%= label_tag '餐饮' %>:
    <%= text_field_tag :food %><br/>

    <%= label_tag '住宿' %>:
    <%= text_field_tag :hotel %><br/>

    <%= submit_tag '创建' %>
  <% end %>
</div>
<hr/>
<% @daily_plans.each_with_index do |daily_plan, index| %>
  <div style="border: solid 1px black">
    <%= form_tag customer_service_business_itinerary_daily_plan_path(@business, @itinerary, daily_plan),method: :put do%>
      第<%= index+1 %>天<br/>
      日期：<input name='dates' value="<%= daily_plan.dates %>"/>
      地点：<input name='places' value="<%= daily_plan.places %>"/>
      行程描述：<input name='description' value="<%= daily_plan.description %>"/>
      图片：<%= daily_plan.picture.url%><br/>
      <%= file_field_tag :picture %>
      餐饮：<input name='food' value="<%= daily_plan.food %>"/>
      住宿：<input name='hotel' value="<%= daily_plan.hotel %>"/>
      <%= submit_tag '更新'%>
      <%= button_to '删除',
                    customer_service_business_itinerary_daily_plan_path(@business, @itinerary, daily_plan),
                    method: :delete,
                    data: {confirm: '你确定要删除这项行程吗？'}%>
    <% end %>
    <!-- <= link_to 'X', controller: :daily_plan, action: :destroy, method: :delete %> -->
  </div>
<% end %>
