<style>
  .card-block {
      margin: 20px;
  }
  .ly-list {
    max-height: 500px;
    overflow-y:auto;
  }
  .header-center {
    text-align:center;
  }
  .unread::after {
    content: '●';
    color: red;
}
</style>
<div class='row' style='margin-bottom: 20px;'>
  <div class='create-btn col-sm-3'>
    <%= link_to '创建', new_customer_service_business_path, class: 'btn btn-secondary' %>
  </div>
  <div class='search_businesses'>
    <%= form_tag customer_service_business_index_path, method: 'GET' do %>
      <div class='col-sm-4'>
        <%= text_field_tag "name", params[:name], class: 'form-control', placeholder: '按名称搜索' %>
      </div>

      <%= submit_tag '搜索', class: 'btn' %>
    <%end%>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <table class="table table-striped">
      <thead>
      <tr>
        <th width="320" class="header-center">商家ID</th>
        <th width="200" class="header-center">名称</th>
        <th width="180" class="header-center">电话</th>
        <th width="200" class="header-center">公司名称</th>
        <th width="180" class="header-center">类型</th>
        <th class="header-center">操作</th>
      </tr>
      </thead>
      <tbody>
      <% @businesses.each do |business| %>
        <tr>
          <td class="header-center"><%= business.id %></td>
          <td class="header-center"><%= business.name %></td>
          <td class="header-center"><%= business.phone %></td>
          <td class="header-center"><%= business.company_name %></td>
          <td class="header-center"><%= business.name %></td>
          <td class="header-center">
            <%= link_to "查看", customer_service_business_path(business) %>
             <% if business.has_unread_message? %>
            | <%= link_to "新消息", customer_service_business_chats_path(business), class: 'unread'%>
          <% end %>
          </td>
        </tr>
      <% end%>
      </tbody>
    </table>
    <div style='text-align: center;'><%= paginate @businesses %></div>
  </div>
</div>
