<style>
  .card-block {
      margin: 20px;
  }
  .ly-list {
    max-height: 500px;
    overflow-y:auto;
  }
</style>
<div class='row' style='margin-bottom: 20px;'>
  <div class='create-btn col-sm-3'>
    <%= link_to '创建', new_customer_service_business_path, class: 'btn btn-secondary' %>
  </div>
  <div class='search_businesses'>
    <%= form_tag customer_service_business_index_path, method: 'GET' do %>
      <div class='col-sm-4'>
        <%= text_field_tag "name", params[:name], class: 'form-control', placeholder: '按名称搜索' %>
      </div>
      
      <%= submit_tag '搜索', class: 'btn' %>
    <%end%>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <table class="table table-striped">
      <thead class="bg-primary">
      <tr>
        <th width="320">商家ID</th>
        <th>名称</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <% @businesses.each do |business| %>
        <tr>
          <td><%= business.id %></td>
          <td><%= business.name %></td>
          <td><%= link_to "查看", customer_service_business_path(business) %></td>
        </tr>
      <% end%>
      </tbody>
    </table>
    <div style='text-align: center;'><%= paginate @businesses %></div>
  </div>
</div>
