<style>
.ly-tab {
  padding: 20px;
  font-size: 12px;
}
.update-image {
  padding: 12px;
}
</style>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <%= link_to '商家信息', customer_service_business_path(@business), class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to '行程', customer_service_business_itinerary_index_path(@business), class: 'nav-link'%>
  </li>
  <li class="nav-item">
    <%= link_to '留言', customer_service_business_chats_path(@business), class: 'nav-link'%>
  </li>
</ul>

<div class="ly-tab">
  <div class="form-group row">
    <label for="example-text-input" class="col-xs-1 col-form-label">商家ID</label>
    <div class="col-xs-3">
      <input class="form-control" type="text" value="<%= @business.id %>" id="example-text-input" disabled>
    </div>
    <label for="example-search-input" class="col-xs-1 col-form-label">用户ID</label>
    <div class="col-xs-3">
      <input class="form-control" type="search" value="<%= @business.user_id %>" id="example-search-input" disabled>
    </div>
  </div>
  <%= form_tag customer_service_business_path(@business), method: :put do %>
    <div class="form-group row">
      <label for="example-text-input" class="col-xs-1 col-form-label">商家名称</label>
      <div class="col-xs-3">
        <input class="form-control" type="text" name="name" value="<%= @business.name %>">
      </div>
      <label for="example-search-input" class="col-xs-1 col-form-label">公司名称</label>
      <div class="col-xs-3">
        <input class="form-control" type="search" name="company_name" value="<%= @business.company_name %>">
      </div>
      <label for="example-search-input" class="col-xs-1 col-form-label">电话</label>
      <div class="col-xs-3">
        <input class="form-control" type="search" name="phone" value="<%= @business.phone %>">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-xs-1 col-form-label">商家邮箱</label>
      <div class="col-xs-3">
        <input class="form-control" type="text" name="email" value="<%= @business.email %>">
      </div>
      <label for="example-search-input" class="col-xs-1 col-form-label">公司类型</label>
      <div class="col-xs-3">
        <%= select_tag 'company_type',
                       options_from_collection_for_select(@company_types, 'id', 'description', @business.company_type_id), class: 'form-control' %>
      </div>
      <div class="col-xs-3"></div>
      <div class="col-xs-1">
        <div flex></div>
        <%= submit_tag '更新', class:"btn btn-secondary pull-right" %>
      </div>
    </div>
  <% end %>
  <hr/>

  <div class="input-group row">
    <%= form_tag customer_service_business_path(@business), multipart: true, method: :put do %>
      <% if @business.picture.url != '/pictures/original/missing.png' %>
        <div class="col-xs-2">
          <%= image_tag @business.picture.url, width: 75, height: 50  if @business.picture.url != '/pictures/original/missing.png' %>
        </div>
      <% end %>
      <label class="btn btn-default btn-file col-xs-3">
        <%= file_field_tag :picture, class:'form-control' %>
      </label>
      <div class="col-xs-3 update-image">
        <%= submit_tag '更新图片', class:"btn btn-secondary"  %>
      </div>
    <% end %>
    <%= form_tag customer_service_business_path(@business), multipart: true, method: :put do %>
      <div class="col-xs-2">
        <%= image_tag @business.video.url(:thumb), width: 75, height: 50 %>
        <%= video_tag @business.video.url(:medium), controls: true, autobuffer: true, height: 200, width: 200 %>
      </div>
      <label class="btn btn-default btn-file col-xs-3">
        <%= file_field_tag :video, class:'form-control' %>
      </label>
      <div class="col-xs-3 update-image">
        <%= submit_tag '更新视频', class:"btn btn-secondary"  %>
      </div>
    <% end %>
  </div>
  <hr/>
  <%= form_tag "/customer_service/business/#{@business.id}/post_detail" do %>
    <div class="form-group">
      <label>介绍1</label>
      <textarea class="form-control" name="context_1"><%= @context_1 %></textarea>
    </div>
    <div class="form-group">
      <label>介绍2</label>
      <textarea class="form-control" name="context_2"><%= @context_2 %></textarea>
    </div>
    <%= submit_tag '更新', class:"btn btn-secondary"%>
  <% end %>
</div>
