<style>
.ly-tab {
  padding: 20px;
  font-size: 12px;
}
.update-image {
  padding: 12px;
}
.unread::after {
    content: '●';
    color: red;
}
.part {
  width: 100%;
  height: 260px;
}
legde {
  display: block;
  border-bottom: 1px solid #eee;
  color: #ccc;
  font-size: 11px;
  margin-bottom: 10px;

}
input {
  padding: 0;
}
select {
  height: 14px;
}
.upload-image input{ vertical-align:middle; margin:0; padding:0}
.upload-image .file-box{ position:relative;width:340px}
.upload-image .txt{ height:22px; float: left; border:1px solid #cdcdcd; width:180px;}
.upload-image .btn{ background-color:#FFF; border:1px solid #CDCDCD;height:24px; width:70px;}
.upload-image .file{ position:absolute; top:0; filter:alpha(opacity:0);opacity: 0;width:70px; left: 200px; }
input.liulan{ position: absolute; left: 200px; }
</style>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <%= link_to '商家信息', customer_service_business_path(@business), class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to '行程', customer_service_business_itinerary_index_path(@business), class: 'nav-link'%>
  </li>
  <li class="nav-item">
    <%= link_to '留言', customer_service_business_chats_path(@business), class: "nav-link #{'unread' if @business.has_unread_message? }"%>
  </li>
</ul>

<div class="ly-tab" style='height: 560px; overflow-y: scroll; margin: 0 13px;'>
  
  <div class='part' style='height: 180px'>
  <legde>基本信息</legde>
    <div class="form-group row">
      <label for="example-text-input" class="col-xs-1 col-form-label">商家ID</label>
      <div class="col-xs-3">
        <input class="form-control" type="text" value="<%= @business.id %>" id="example-text-input" disabled>
      </div>
      <label for="example-search-input" class="col-xs-1 col-form-label">用户ID</label>
      <div class="col-xs-3">
        <input class="form-control" type="search" value="<%= @business.user_id %>" id="example-search-input" disabled>
      </div>
    </div>
    <%= form_tag customer_service_business_path(@business), method: :put do %>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-1 col-form-label">商家名称</label>
        <div class="col-xs-3">
          <input class="form-control" type="text" name="name" value="<%= @business.name %>">
        </div>
        <label for="example-search-input" class="col-xs-1 col-form-label">公司名称</label>
        <div class="col-xs-3">
          <input class="form-control" type="search" name="company_name" value="<%= @business.company_name %>">
        </div>
        <label for="example-search-input" class="col-xs-1 col-form-label">电话</label>
        <div class="col-xs-3">
          <input class="form-control" type="search" name="phone" value="<%= @business.phone %>">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-1 col-form-label">商家邮箱</label>
        <div class="col-xs-3">
          <input class="form-control" type="text" name="email" value="<%= @business.email %>">
        </div>
        <label for="example-search-input" class="col-xs-1 col-form-label">公司类型</label>
        <div class="col-xs-3">
          <%= select_tag 'company_type',
                        options_from_collection_for_select(@company_types, 'id', 'description', @business.company_type_id), class: 'form-control' %>
        </div>
        <div class="col-xs-3"></div>
        <div>
          <div flex></div>
          <%= submit_tag '更新', class:"btn btn-secondary pull-right" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='part' style='width: 48%;float: left;'>
  <legde>图片</legde>
  <div class="form-group row" style=''>
    <%= form_tag customer_service_business_path(@business), multipart: true, method: :put do %>
      <% if @business.picture.url != '/pictures/original/missing.png' %>
        <div class="col-xs-2">
          <%= image_tag @business.picture.url, width: 75, height: 50  if @business.picture.url != '/pictures/original/missing.png' %>
        </div>
      <% end %>
      <label class="upload-image col-xs-6">
        <input type='text' id='textfield' class='txt' disabled />  
        <input type='button' class='btn liulan' value='浏览...' />
        <input type="file" name="picture" class="file" id="fileField" size="28" onchange="document.getElementById('textfield').value=this.value" />
        <input type="submit" name="submit" class="btn" style='margin-top: 12px;' value="上传" />
        <%#= file_field_tag :picture, class:'form-control' %>
      </label>
    <% end %>
    </div>
  </div>
  <div class='part' style='width: 48%;height: 270px;float: left;margin-left: 4%'>
  <legde>视频</legde>
  <div class="form-group row">
    <%= form_tag customer_service_business_path(@business), multipart: true, method: :put do %>
      <div class="col-xs-5">
        <%= image_tag @business.video.url(:thumb), width: 75, height: 50 %>
        <%= video_tag @business.video.url(:medium), controls: true, autobuffer: true, height: 200, width: 200 %>
      </div>
      <label class="upload-image col-xs-6">
        <input type='text' id='videofield' class='txt' disabled />  
        <input type='button' class='btn liulan' value='浏览...' />
        <input type="file" name="video" class="file" id="fileField" size="28" onchange="document.getElementById('videofield').value=this.value" />
        <input type="submit" name="submit" class="btn" style='margin-top: 12px;' value="更新视频" />
      </label>
    <% end %>
    </div>
  </div>
  <div class='part'>
  <legde>介绍</legde>
  <div class="form-group row" style='margin: 0;'>
    <%= form_tag "/customer_service/business/#{@business.id}/post_detail" do %>
      <div class="form-group" style='width: 49%; float: left;'>
        <label>介绍1</label>
        <textarea class="form-control" name="context_1"><%= @context_1 %></textarea>
      </div>
      <div class="form-group" style='width: 49%; margin-left: 2%; float: left;'>
        <label>介绍2</label>
        <textarea class="form-control" name="context_2"><%= @context_2 %></textarea>
      </div>
      <%= submit_tag '更新', class:"btn btn-secondary"%>
    <% end %>
    </div>
  </div>
</div>
