<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <%= link_to '商家信息', customer_service_business_path(@business), class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to '行程', customer_service_business_itinerary_index_path(@business), class: 'nav-link'%>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#information" role="tab" data-toggle="tab">资讯</a>
  </li>
</ul>

<div style="border: solid 1px black;">
  商户ID:<%= @business.id %><br/>
  用户ID: <%= @business.user_id %><br/>
  <%= form_tag customer_service_business_path(@business), method: :put do %>
    商家名称: <input name="company_name" value="<%= @business.name %>">
    公司名称: <input name="company_name" value="<%= @business.company_name %>">
    电话: <input name="phone" value="<%= @business.phone %>">
    邮箱: <input name="email" value="<%= @business.email %>">
    公司类型: <%= select_tag 'company_type', options_from_collection_for_select(@company_types, 'id', 'description', @business.company_type_id) %>
    <%= submit_tag '更新' %>
  <% end %>
  图片地址:<%= @business.picture.url if @business.picture.url != '/pictures/original/missing.png' %><br/>
  <hr/>
  <%= image_tag @business.picture.url, width: 75, height: 50  if @business.picture.url != '/pictures/original/missing.png' %>

  <%= form_tag customer_service_business_path(@business), multipart: true, method: :put do %>
    <%= file_field_tag :picture %>
    <%= submit_tag '更新图片' %>
  <% end %>
  <hr/>
  <%= form_tag "/customer_service/business/#{@business.id}/post_detail" do %>
    <textarea name="context_1"><%= @context_1 %></textarea><br/>
    介绍：<textarea name="context_2"><%= @context_2 %></textarea>
    <%= submit_tag '提交'%>
  <% end %>
</div>
