<style>
.ly-tab {
  padding: 20px;
  font-size: 12px;
}
</style>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <%= link_to '商家信息', customer_service_business_path(@business), class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to '行程', customer_service_business_itinerary_index_path(@business), class: 'nav-link'%>
  </li>
</ul>

<div class="ly-tab">
  <div class="form-group row">
    <label for="example-text-input" class="col-xs-1 col-form-label">商家ID</label>
    <div class="col-xs-3">
      <input class="form-control" type="text" value="<%= @business.id %>" id="example-text-input" disabled>
    </div>
    <label for="example-search-input" class="col-xs-1 col-form-label">用户ID</label>
    <div class="col-xs-3">
      <input class="form-control" type="search" value="<%= @business.user_id %>" id="example-search-input" disabled>
    </div>
  </div>
  <%= form_tag customer_service_business_path(@business), method: :put do %>
    <div class="form-group row">
      <label for="example-text-input" class="col-xs-1 col-form-label">商家名称</label>
      <div class="col-xs-3">
        <input class="form-control" type="text" name="company_name" value="<%= @business.name %>">
      </div>
      <label for="example-search-input" class="col-xs-1 col-form-label">公司名称</label>
      <div class="col-xs-3">
        <input class="form-control" type="search" name="company_name" value="<%= @business.company_name %>">
      </div>
      <label for="example-search-input" class="col-xs-1 col-form-label">电话</label>
      <div class="col-xs-3">
        <input class="form-control" type="search" name="phone" value="<%= @business.phone %>">
      </div>
    </div>
    <div class="form-group row">
      <label for="example-text-input" class="col-xs-1 col-form-label">商家邮箱</label>
      <div class="col-xs-3">
        <input class="form-control" type="text" name="email" value="<%= @business.email %>">
      </div>
      <label for="example-search-input" class="col-xs-1 col-form-label">公司类型</label>
      <div class="col-xs-3">
        <%= select_tag 'company_type',
                       options_from_collection_for_select(@company_types, 'id', 'description', @business.company_type_id), class: 'form-control' %>
      </div>
    </div>
    <div>
      <%= submit_tag '更新', class:"btn btn-secondary" %>
    </div>
  <% end %>
  <!-- 图片地址:<%= @business.picture.url if @business.picture.url != '/pictures/original/missing.png' %><br/> -->
  <hr/>
  <%= image_tag @business.picture.url, width: 75, height: 50  if @business.picture.url != '/pictures/original/missing.png' %>

  <div class="input-group">
    <%= form_tag customer_service_business_path(@business), multipart: true, method: :put do %>
      <label class="btn btn-default btn-file">
        <%= file_field_tag :picture, class:'form-control' %>
      </label>
      <div class="input-group-btn">
        <%= submit_tag '更新图片', class:"btn btn-secondary"  %>
      </div>
    <% end %>
  </div>
  <hr/>
  <%= form_tag "/customer_service/business/#{@business.id}/post_detail" do %>
    <textarea name="context_1"><%= @context_1 %></textarea><br/>
    介绍：<textarea name="context_2"><%= @context_2 %></textarea>
    <%= submit_tag '提交'%>
  <% end %>
</div>
