<style>
.ly-tab {
  padding: 20px 20px 0 20px;
  font-size: 12px;
}
.update-image {
  padding: 12px;
}
.unread::after {
    content: '●';
    color: red;
}
.part {
  width: 100%;
}
.imagevideo {
  padding: 10px;
  text-align: center;
}
.video {
  border: solid 1px #ccc;
}
legde {
  display: block;
  width: 100%;
  height: 20px;
  border-bottom: 1px solid #eee;
  color: #ccc;
  font-size: 11px;
  margin-bottom: 10px;

}
</style>
<ul class="nav nav-tabs" role="tablist" style="margin:0;">
  <li class="nav-item">
    <%= link_to '商家信息', customer_service_business_path(@business), class: 'nav-link active' %>
  </li>
  <li class="nav-item">
    <%= link_to '行程', customer_service_business_itinerary_index_path(@business), class: 'nav-link'%>
  </li>
  <li class="nav-item">
    <%= link_to '留言', customer_service_business_chats_path(@business), class: "nav-link #{'unread' if @business.has_unread_message? }"%>
  </li>
</ul>

<div class="ly-tab">

  <div class='part'>
  <legde>基本信息</legde>
    <div class="form-group row" hidden>
      <label for="example-text-input" class="col-xs-1 col-form-label">商家ID</label>
      <div class="col-xs-3">
        <input class="form-control" type="text" value="<%= @business.id %>" id="example-text-input" disabled>
      </div>
      <label for="example-search-input" class="col-xs-1 col-form-label">用户ID</label>
      <div class="col-xs-3">
        <input class="form-control" type="search" value="<%= @business.user_id %>" id="example-search-input" disabled>
      </div>
    </div>
    <%= form_tag customer_service_business_path(@business), method: :put do %>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-1 col-form-label">商家名称</label>
        <div class="col-xs-3 input-group-sm">
          <input class="form-control" type="text" name="name" value="<%= @business.name %>">
        </div>
        <label for="example-search-input" class="col-xs-1 col-form-label">公司名称</label>
        <div class="col-xs-3 input-group-sm">
          <input class="form-control" type="search" name="company_name" value="<%= @business.company_name %>">
        </div>
        <label for="example-search-input" class="col-xs-1 col-form-label">电话</label>
        <div class="col-xs-3 input-group-sm">
          <input class="form-control" type="search" name="phone" value="<%= @business.phone %>">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-1 col-form-label">商家邮箱</label>
        <div class="col-xs-3 input-group-sm">
          <input class="form-control" type="text" name="email" value="<%= @business.email %>">
        </div>
        <label for="example-search-input" class="col-xs-1 col-form-label">公司类型</label>
        <div class="col-xs-3 input-group-sm">
          <%= select_tag 'company_type',
                        options_from_collection_for_select(@company_types, 'id', 'description', @business.company_type_id), class: 'form-control' %>
        </div>
        <div class="col-xs-3"></div>
        <div class="col-xs-1">
          <div flex></div>
          <%= submit_tag '更新', class:"btn btn-secondary btn-sm pull-right" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class='part'>
  <legde>介绍</legde>
  <div class="form-group row" style="padding: 0 10px;margin-bottom:0px;">
    <%= form_tag "/customer_service/business/#{@business.id}/post_detail" do %>
      <div class="form-group">
        <div class="input-group-sm">
          <label>介绍1</label>
          <textarea class="form-control" name="context_1"><%= @context_1 %></textarea>
        </div>
        <div class="input-group-sm">
          <label>介绍2</label>
          <textarea class="form-control" name="context_2"><%= @context_2 %></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class='col-sm-11'></div>
        <div class='col-sm-1'>
          <%= submit_tag '更新', class:"form-control btn btn-secondary btn-sm"%>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class='part'>
  <legde>图片 & 视频</legde>
  <div class="row">
    <div class="col-sm-6 row imagevideo">
      <%= image_tag @business.picture.url(:medium), width: 210, height: 140%>
      <%= form_tag customer_service_business_path(@business), multipart: true, method: :put do %>
        <label class="btn btn-default btn-file col-xs-10 input-group-sm">
          <%= file_field_tag :picture, class:'form-control' %>
        </label>
        <div class="col-xs-2 update-image">
          <%= submit_tag '更新图片', class:"btn btn-secondary btn-sm"  %>
        </div>
      <% end %>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5 row imagevideo">
      <%= video_tag @business.video.url(:medium), controls: true, autobuffer: true, height: 140, width: 210, class: 'video' %>
      <%= form_tag customer_service_business_path(@business), multipart: true, method: :put do %>
        <label class="btn btn-default btn-file col-xs-10 input-group-sm">
          <%= file_field_tag :video, class:'form-control' %>
        </label>
        <div class="col-xs-2 update-image">
          <%= submit_tag '更新视频', class:"btn btn-secondary btn-sm"  %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>
