<%= link_to '创建', controller: "appointment", action: "new"%>
<br />


<style>
    .card-block {
        margin: 20px;
    }
</style>
<div class="card card-block">
  <table class="table table-striped">
    <thead class="bg-primary">
    <tr>
      <th>预约ID</th>
      <th>用户ID</th>
      <th>商家ID</th>
      <th>日期</th>
      <th>联系人</th>
      <th>联系人电话</th>
      <th>备注</th>
      <th>状态</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <% @appointments.each do |appointment| %>
        <tr>
          <td>
            <%= link_to appointment.id, controller: "appointment", action: "show", id: appointment.id %>
          </td>
          <td><%= appointment.user_id %></td>
          <td><%= appointment.business_id %></td>
          <td><%= appointment.date %></td>
          <td><%= appointment.name %></td>
          <td><%= appointment.phone %></td>
          <td><%= appointment.description %></td>
          <td><%= appointment.status %></td>
          <td>
            <% if appointment.status != 'active' %>
                <%= form_tag customer_service_appointment_path(appointment), method: :put do %>
                    <%= hidden_field_tag 'status', 'active'  %>
                    <%= submit_tag '审核通过' %>
                <% end %>
            <%end%>
          </td>
        </tr>
    <% end%>
    </tbody>
  </table>
</div>