<style>
.header-center {
  text-align:center;
}
</style>
<div class='row' style='margin-bottom: 20px;'>
  <div class='create-btn col-sm-3'>
    <%= link_to '创建', new_customer_service_appointment_path, class: 'btn btn-secondary' %>
  </div>
  <div class='search_businesses'>
    <%= form_tag customer_service_appointment_index_path, method: 'GET' do %>
      <div class='col-sm-4'>
        <%= text_field_tag "name", params[:name], class: 'form-control', placeholder: '按联系人搜索' %>
      </div>

      <%= submit_tag '搜索', class: 'btn' %>
    <%end%>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="header-center">联系人</th>
        <th class="header-center">日期</th>
        <th class="header-center">联系人电话</th>
        <th class="header-center">用户</th>
        <th class="header-center">商家</th>
        <th class="header-center">状态</th>
        <th class="header-center">操作</th>
      </tr>
      </thead>
      <tbody>
      <% @appointments.each do |appointment| %>
          <tr>
            <td class="header-center">
              <%= appointment.name %>
            </td>
            <td class="header-center"><%= appointment.date %></td>
            <td class="header-center"><%= appointment.phone %></td>
            <td class="header-center"><%= appointment.user.try(:name) %></td>
            <td class="header-center"><%= appointment.business.try(:name) %></td>
            <td class="header-center"><%= appointment.status %></td>
            <td class="header-center">
            <%= link_to '查看', customer_service_appointment_path(appointment) %> |
            <%= link_to '编辑', edit_customer_service_appointment_path(appointment) %>
              <% if appointment.status != 'inactive' %>
                  <%= form_tag customer_service_appointment_path(appointment), method: :put do %>
                      <%= hidden_field_tag 'status', 'inactive'  %>
                      <%= submit_tag '取消' %>
                  <% end %>
              <%end%>
            </td>
          </tr>
      <% end%>
      </tbody>
    </table>
    <div style='text-align: center;'><%= paginate @appointments %></div>
  </div>
</div>
