<style>
    .card-block {
        margin: 20px;
    }
    label {
        font-size: 12px;
    }
    .user-tool {
        margin-left: 6px;
        margin-right: -4px;
        margin-top: 20px;
    }
</style>
<div class="row user-tool">
  <div class="col-xs-2">
    <%= button_to '<<返回列表', {controller: 'appointment', action: 'index'}, method: :get, class: 'btn btn-secondary btn-sm' %>
  </div>
</div>
<div class="card card-block">
  <div class="form-group row">
    <label for="example-text-input" class="col-xs-1 col-form-label">预约ID</label>
    <div class="col-xs-5">
      <input class="form-control" type="text" value="<%= @appointment.id %>" id="example-text-input" disabled>
    </div>
    <label for="example-search-input" class="col-xs-1 col-form-label">预约用户</label>
    <div class="col-xs-5">
      <input class="form-control" type="search" value="<%= @appointment.user.try(:name) %>" id="example-search-input" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-search-input" class="col-xs-1 col-form-label">被预约商家</label>
    <div class="col-xs-5">
      <input class="form-control" type="search" value="<%= @appointment.business.try(:name) %>" id="example-search-input" disabled>
    </div>
    <label for="example-email-input" class="col-xs-1 col-form-label">预约人</label>
    <div class="col-xs-5">
      <input class="form-control" type="email" value="<%= @appointment.name %>" id="example-email-input" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-url-input" class="col-xs-1 col-form-label">联系电话</label>
    <div class="col-xs-5">
      <input class="form-control" type="url" value="<%= @appointment.phone %>" id="example-url-input" disabled>
    </div>
    <label for="example-tel-input" class="col-xs-1 col-form-label">预约日期</label>
    <div class="col-xs-5">
      <input class="form-control" type="tel" value="<%= @appointment.date %>" id="example-tel-input" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-datetime-local-input" class="col-xs-1 col-form-label">创建时间</label>
    <div class="col-xs-5">
      <input class="form-control" type="text" value="<%= @appointment.created_at %>" id="example-datetime-local-input" disabled>
    </div>
    <label for="example-number-input" class="col-xs-1 col-form-label">状态</label>
    <div class="col-xs-5">
      <input class="form-control" type="text" value="<%= @appointment.status=='finished' ? '完成' : '未通过' %>" id="example-number-input" disabled>
    </div>
  </div>
  <div class="form-group row">
    <label for="example-password-input" class="col-xs-1 col-form-label">描述</label>
    <div class="col-xs-5">
      <input class="form-control" type="text" value="<%= @appointment.description %>" id="example-password-input" disabled>
    </div>
  </div>
  <div class="form-group row">
    <%if @appointment.status == 'finished'%>
      <%=button_to '未完成', unfinish_customer_service_appointment_path(@appointment.id), class: 'btn btn-secondary btn-sm',
                   method: :patch%>
    <%else%>
      <%=button_to '完成', finish_customer_service_appointment_path(@appointment.id), class: 'btn btn-secondary btn-sm',
                 method: :patch%>
    <%end%>
  </div>

</div>
