<p id="notice"><%= notice %></p>

<p>
  <strong>Col1:</strong>
  <%= @test.col1 %>
</p>

<p>
  <strong>Col2:</strong>
  <%= @test.col2 %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
