

<style>
.card-block {
  margin: 20px;
}
.ly-list {
  max-height: 500px;
  overflow-y:auto;
}
.header-center {
  text-align:center;
}
</style>
<div class='row' style='margin-bottom: 20px;'>
  <div class='create-btn col-sm-3'>
    <%= link_to '创建', new_customer_service_user_path, class: "btn btn-secondary" %>
  </div>
  <div class='search_businesses'>
    <%= form_tag customer_service_user_index_path, method: 'GET' do %>
      <div class='col-sm-4'>
        <%= text_field_tag "name", params[:name], class: 'form-control', placeholder: '按名称搜索' %>
      </div>

      <%= submit_tag '搜索', class: 'btn' %>
    <%end%>
  </div>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <table class="table table-striped">
      <thead>
        <tr>
          <th width="320" class="header-center">用户ID</th>
          <th width="200" class="header-center">姓名</th>
          <th width="200" class="header-center">电话</th>
          <th width="" class="header-center">操作</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="header-center"><%= user.id %></td>
            <td class="header-center"><%= user.name %></td>
            <td class="header-center"><%= user.phone %></td>
            <td class="header-center">
              <%= link_to '查看', customer_service_user_path(user) %>
              <!-- <%= link_to '编辑', edit_customer_service_user_path(user) %> -->
              <%= link_to '删除', customer_service_user_path(user), method: 'delete', data: { confirm: "确认要删除该用户吗？" } %>
            </td>
          </tr>
        <% end%>
      </tbody>
    </table>
    <div style='text-align: center;'><%= paginate @users %></div>
  </div>
</div>
