<%= button_to '创建', {controller: 'user', action: 'new'}, method: :get, class: 'btn btn-secondary btn-sm' %>

<style>
.card-block {
  margin: 20px;
}
.ly-list {
  max-height: 500px;
  overflow-y:auto;
}
</style>
<div class="card card-block ly-list">
  <table class="table table-striped">
    <thead class="bg-primary">
      <tr>
        <th width="320">用户ID</th>
        <th>姓名</th>
        <th>电话</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= link_to user.name, controller: "user", action: "show", id: user.id %></td>
          <td><%= user.phone %></td>
          <td>
            <%= link_to '删除', controller: "user", action: "show", id: user.id %>
          </td>
        </tr>
      <% end%>
    </tbody>
  </table>
</div>
