<!DOCTYPE html>
<html>
  <head>
    <title>旅游咨询</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <style>
  .sidebar {
    box-shadow: 2px 0px 4px #888888;
    height: 100vh;
  }
  .col-md-2 {
    padding: 0;
  }
  </style>

  <body>
    <div style="height:100%">
      <div class="col-md-2 sidebar">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="col-md-10" style="padding:20px">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
